<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
    </style>
</head>
<body>
    <!--<div style="width:100%; height:3px; background-color:#0b76ca;"></div>-->
    <div style="width:100%">
        <div id="mmenu"><button id="btn_mmenu" style="background-color:transparent;"><img src="../images/mmenu.png" /></button></div>
        <div id="links">
            <ul>
                <li id="Initseparator" style="width:28vw;" disabled>&nbsp;</li>
                <li>
                    <a href="Home.html">Gestionar Activos</a>
                </li>
                <!-- <li>
                <a href="ResumenEjecutivo.html" id="Resumen_Ejecutivo">Resumen Ejecutivo</a>
            </li>
                       <li>
                           <a href="Cliente.html" id="Clientes">Clientes</a>
                       </li>
                       <li>
                           <a href="Formularios.html" id="Formularios">Formularios</a>
                       </li>-->
                <!--id="menu_Reportes"-->
                <li>
                    <!--Reportes-->
                    <ul>
                        <li>
                            <!--class="menuDobleColumna"-->
                            <div>
                                <!--<div id="menu_Facturacion" class="menuBoton">
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="Reportes.html"><img src="../images/btnFacturacion.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Reporte que permite<br /> visualizar las <br />facturaciones según <br />criterios de búsqueda
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <!--<div id="menu_LiquidacionComisiones" class="menuBoton">
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="ReporteLiquidacionComisiones.html" class="k-button"><img src="../images/btnLiquidacionComisiones.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Liquidación de<br />
                                    Comisiones<br />
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <!--<div id="menu_Siniestralidad" class="menuBoton">
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="ReporteSiniestralidad.html" class="k-button"><img src="../images/btnSiniestralidad.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Siniestralidad<br />
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <!--  <div id="menu_PreAutorizaciones" class="menuBoton">
                                <div style="display:inline-block; vertical-align:text-top;">
                                    <a href="ReportePreAutorizaciones.html"><img src="../images/btnPreautorizaciones.jpg" /></a>
                                </div>
                                <div class="menutextBlock" style="vertical-align:text-top;">
                                    Reporte que permite<br /> visualizar las<br />pre-autorizaciones dadas<br />a los afiliados
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <!--<div id="menu_EstadisticaNavegacion" class="menuBoton">
                                <div style="display:inline-block; vertical-align:text-top;">
                                    <a href="EstadisticaActivacion.html"><img src="../images/btnEstadisticaEnrolamiento.jpg" /></a>
                                </div>
                                <div class="menutextBlock" style="vertical-align:text-top;">
                                    Permite visualizar la<br /> Estadisticas de Activación<br />para productos SMARTPLAN
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <!--<div id="menu_AsignacionCorredor" class="menuBoton">
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="ReporteAsignacionCorredor.html" class="k-button"><img src="../images/btnAsignacionCorredor.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Asignación de <br />
                                    Corredor<br />
                                </div>
                                <br />
                            </div>-->

                            </div>
                        </li>
                    </ul>
                </li>
                <!--<li>
                <a href="Politica_Comisiones.html" id="Politica_Comisiones">Politica Comisiones</a>
            </li>-->
                <li>
                    <img src="../images/perfil.png" />&nbsp;&nbsp;Cuenta
                    <ul>
                        <li>
                            <div style="margin: 15px 15px 15px 15px; width: 400px;">
                                <!--<div id="Menu_AdministracionUsuarios">
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="AdministradorUsuarios.html"><img src="../images/btnPerfilesAccesos.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Pantalla de administración<br /> de usuarios y permisos
                                </div>
                                <br />
                                <hr />
                            </div>
                            <div>
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="TerminosCondiciones.html"><img src="../images/btnTerminosCondiciones.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Detalle de Condiciones<br /> de uso del portal
                                </div>
                                <br />
                                <hr />
                            </div>
                            <div>
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="CambioClave.html"><img src="../images/btnCambioClave.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Permite realizar el<br />
                                    cambio de clave
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <!--<div>
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="GuiaUso.html" class="k-button"><img height="50" width="101" src="../images/btnGuiaUso.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    Guía de<br />
                                    uso
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <!--<div>
                                <div style="display:inline-block; vertical-align:top;">
                                    <a href="ContratoAgenciamiento.html" class="k-button"><img height="50" width="101" src="../images/btnContratoAgenciamiento.jpg" /></a>
                                </div>
                                <div class="menutextBlock">
                                    contrato de<br />
                                    agenciamiento
                                </div>
                                <br />
                                <hr />
                            </div>-->
                                <div>
                                    <div style="display:inline-block; vertical-align:top;">
                                        <a href="javascript:CerrarSesion();"><img src="../images/btnCerrarSesion.jpg" /></a>
                                    </div>
                                    <div class="menutextBlock">
                                        Termina la sesión actual<br />
                                        y regresa a la pantalla<br />
                                        de ingreso.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>


                </li>
                <!--<span class="stretch"></span>-->
            </ul>
        </div>
        <div id="mlinks"></div>
    </div>
    

</body>
</html>